<h1>
  Hei!
</h1>

<p>
  Sinulle on luotu <%= @role %>tunnukset osoitteeseen <a href="<%= @link %>"><%= @link %></a>.

  <br>
  <br>

  Sähköposti: <%= @user.email %>
  <br>
  Salasana: <%= @user.password %>
</p>
